* {
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #EDE7F1;
}

header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #26877F;
}

header img {
    width: 10rem;
}

nav {
    background-color: #B53434;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #EDE7F1;
}

nav a:hover {
    color: black;
}

section {
    display: flex;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}

article {
    margin: 2rem; 
    padding: 2rem;
    background-color: #ffffff;
}

h1 {
    padding-bottom: 2rem;
    font-size: 3rem;
    color: black;
}

.card-container {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
    max-width: 1200px;
    width: 100%;
}

@media(min-width: 540px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    position: relative;
    padding-top: 60%;
    padding-bottom: 60%;
}

.card-background {
    background-size: cover;
    background-position: center;
    position: absolute;
    transform-origin: center;
    transition: .2s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-color: #26877F;
    transition: .2s;
}

.card-container a {
    text-decoration: none;
    color: #EDE7F1;
}

.card:hover .card-background {
    transform: scale(1.05) translateZ(0);
}

.card:hover h2 {
    transform: scale(1.05) translateZ(0);
    color: black;
}

.card-container:hover>.card:not(:hover) .card-background {
    filter: brightness(0.5) blur(20px);
}

.card-container:hover>.card:not(:hover) h2 {
    filter: brightness(0.5) blur(20px);
}

footer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    margin-top: 2rem;    
    margin-bottom: 0;    
    text-align: center;
    color: #26877F;
}

footer img {
    width: 2rem;
}
